{% extends "master.html" %}
{% block title %}About Orion - {{ super() }}{% endblock %}
{% block content %}
<div class="span8 offset2">
    <div class="page-header">
        <h1>Frequently (or not!) Asked Questions</h1>
    </div>
    <strong>Q: </strong>Show me the source
    <br/>
    <strong>A: </strong>Source is on <a href="https://github.com/gingerjoos/orion">Github</a>.
    <br/>
    <br/>

    <strong>Q: </strong>Why would I want to use this?
    <br/>
    <strong>A: </strong>Some sites may show you stale seed/leach count. Orion will show you the current status. Also helps if you need to cross check.
    <br/>
    <br/>

</div>
{% endblock content %}
