{% extends "master.html" %}
{% block extra_head %}
	<style type="text/css">
		.form-separator { padding:1%; }
		.text-center { text-align:center }
	</style>
{% endblock extra_head %}
{% block title %}Torrent tracker check - {{ super() }}{% endblock %}
{% block content %}
			<div id="torr-form" class="text-center">
				<form id="torr-url" class="form-inline" method="POST">
					<h3>Enter the URL of the torrent file</h3>
					<input type="text" name="torrent_url" placeholder="eg. http://example.org/file.torrent" />
					<input type="submit" name="submitbtn-url" value="Check" class="btn btn-primary" />
				</form>
				<h3 class="form-separator">OR</h3>
				<form id="torr-file" class="form-inline" method="POST" enctype="multipart/form-data" action="">
					<h3>Upload the torrent file</h3>
					<i class="icon-upload"></i>
					<input type="file" name="torrent_file" accept="application/x-bittorrent" />
					<input type="submit" name="submitbtn-file" value="Check" class="btn btn-primary"  />
				</form>
			</div>

			<div class="span8 offset2">
				<div class="row">
					<div class="span4"><strong>Trackers</strong></div>
					<div class="span2"><strong>Seeders</strong></div>
					<div class="span2"><strong>Leachers</strong></div>
				</div>
				{% for tracker_info in info %}
					<div class="row">
					  <div class="span4">{{ tracker_info['tracker'] }}</div>
					  <div class="span2">{{ tracker_info['seeders'] }}</div>
					  <div class="span2">{{ tracker_info['leachers'] }}</div>
					</div>
				{% endfor %}
			</div>
{% endblock content %}
